/*preferencias*/



body {
    font-family: "Berkshire Swash", serif;
    background: linear-gradient(to right, rgb(189, 189, 255), rgb(255, 233, 236));
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: 600;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}
li a:hover{
    color: #F92604;
}
li a:hover:not(.active) {
    background-color: #E2B923;
}

.active {
    background-color: #EEBE0B;
}

h1 {
    font-size: 40px;
    background-color: #494747;
    padding: 10px;
    margin: 0;
    color: #3498DB;
}

.sub1{
    color: #302f2c;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 20px;
    margin: 15px;
}


table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 1.5rem;
    background-color: #FFF;
}

td {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
    background-color: rgb(162, 162, 162);
}

.footer {
    background-color: #494747;
    color: #FFF;
    padding: 10px;
    text-align: center;
    clear: both;
    font-weight: 900;
    margin-top: 26em;